db.sqlite3
/static
.DS_Store
__pycache__
*.pyc
*~
myvenv


.idea
BikeShop/migrations/0001_initial.py
BikeShop/migrations/0002_remove_services_duration.py
BikeShop/migrations/0001_initial.py
