{% extends 'Layout/base.html' %}
{% load static%}

 {% block styles_scripts %}
     <link href="{% static "styles/items.css"%}" type="text/css" rel="stylesheet">
{% endblock %}

{% block sidebar %}

        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Filter:
                    </a>
                </li>
                <li>
                    <a href="#">Type</a>
                </li>
                <li>
                    <a href="#">Brand</a>
                </li>
                <li>
                    <a href="#">Color</a>
                </li>
                <li>

            </ul>
    </div>
{% endblock %}


{% block content %}
    <div id="page-content-wrapper">
        <div id="card-container">
            <div class="row">
                {% for bike in bikes %}
                    <div id="row-tag" class="col-sm-6 col-md-5 ">
                        <div class="thumbnail center-block">
                            <img id="feature-img" class="img-responsive center-block" src="{% static "images/"%}{{ bike.thumbnail }}" alt="images/mountain_bike_sale.jpg ">
                            <div id= "caption-label" class="caption">
                                <h3>{{ bike.year }} {{ bike.model }} {{ bike. }}</h3>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}


