{% extends 'Layout/base.html' %}
{% load static%}

 {% block styles_scripts %}
     <link href="{% static "styles/items.css"%}" type="text/css" rel="stylesheet">
{% endblock %}


{% block content %}
    <div id="page-content-wrapper">
        <h1><b>Your Service Requests</b></h1>
        <hr id="title-line">
        <br>
        <br>

        <div id="card-container">
            <div class="row">
                {% for my_service in my_services %}
                    <div id="row-tag" class="col-sm-6 col-md-5 ">
                        <div class="thumbnail center-block">
                            <img id="feature-img" class="img-responsive center-block" src="static/images/mountain_bike_sale.jpg" alt="images/mountain_bike_sale.jpg ">
                            <div id= "caption-label" class="caption">
                                <h6>Name: {{ my_service.service_id }} <br> Scheduled Time: {{ my_service.time_requested}}</h6>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}