{% extends 'Layout/base.html' %}
{% load static%}

 {% block styles_scripts %}
     <link href="{% static "styles/items.css"%}" type="text/css" rel="stylesheet">
{% endblock %}


{% block content %}


     <div id="page-content-wrapper">
        <h1>{{ shop.0.NAME}}</h1>
        <p>
            {{ shop.0.ADDR }},
            {{ shop.0.CITY }},
            {{ shop.0.STATE }}
        </p>
        <hr id="title-line">
        <br>
        <br>
        <h2>Products</h2>
        <div id="card-container">
            <div class="row">
                {% for product in products %}
                    <div id="row-tag" class="col-sm-6 col-md-5 ">
                        <div class="thumbnail center-block">
                            <img id="feature-img" class="img-responsive center-block" src="{% static "images/"%}{{ product.thumbnail }}" alt="images/mountain_bike_sale.jpg ">
                            <div id= "caption-label" class="caption">
                                <h4>{{  product.name}}</h4>
                                <p>
                                    Price: {{product.price}}
                                    <br>
                                    Company: {{ product.Company }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="page-content-wrapper">
        <h1>Bikes</h1>
        <hr id="title-line">
        <br>
        <br>
        <div id="card-container">
            <div class="row">
                {% for bike in bikes %}
                    <div id="row-tag" class="col-sm-6 col-md-5 ">
                        <div class="thumbnail center-block">
                            <img id="feature-img" class="img-responsive center-block" src="{% static "images/"%}{{ bike.thumbnail }}" alt="images/mountain_bike_sale.jpg ">
                            <div id= "caption-label" class="caption">
                                <h3>{{ bike.year }} {{ bike.model }} {{ bike. }}</h3>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}