{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Bike Shop </title>
    <link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/3.3.7/css/font-awesome.min.css" >
    <link href="{% static "styles/layout.css"%}" type="text/css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
    <script src="https://use.fontawesome.com/438d7ea128.js"></script>
    {% block styles_scripts %}
    {% endblock %}

</head>
<body>
    <!---top nav bar-->
    <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">The Bike Shop</a>
        </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li ><a href="{%url 'view_all_bikes'%}">Bikes</a></li>
            <li ><a href="{%url 'view_all_products'%}">Products</a></li>
            <li ><a href="{%url 'view_all_shops'%}">Shops</a></li>

            {% if user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Services <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'request_service' %}">Schedule a Service</a></li>
                        <li><a href="{% url 'current_services' %}">Current Service Requests</a></li>
                    </ul>
                </li>


            {% endif %}
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li>
                <form class="navbar-form">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </form>
            </li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"> Hello, {{ user.username }} </span></a></li>

            {% else %}
                <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"> Sign In</span></a></li>
                <li><a href="{% url 'signup' %}"><span class="glyphicon " aria-hidden="true"> Signup </span></a></li>

            {% endif %}

        </ul>
    </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    </nav>

    <div class="wrap">
        {% block sidebar %}

        {% endblock %}


    <!---- space reserved for different content-->
        {% block content %}

        {% endblock %}
    </div>

<!--footer start from here-->
    <footer>
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-6 footerleft ">
                    <div class="logofooter"> The Bike Shop</div>
                    <p> The best place to look for bikes!</p>
                    <p><i class="fa fa-map-pin"></i> 1234 Project Lane, Manhattan,KS 66502</p>
                    <p><i class="fa fa-phone"></i> Phone  :  785-000-0001</p>
                    <p><i class="fa fa-envelope"></i> E-mail : info@thebikeshop.com</p>
                </div>
                <div class="col-md-2 col-sm-6 paddingtop-bottom">
                    <h6 class="heading7">GENERAL LINKS</h6>
                    <ul class="footer-ul">
                        <li><a href="#"> Career</a></li>
                        <li><a href="#"> Privacy Policy</a></li>
                        <li><a href="#"> Terms & Conditions</a></li>
                        <li><a href="#"> Frequently Ask Questions</a></li>
                        <li><a href="#">Store Locator</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright">
        <div class="container">
            <div class="col-md-6">
                <p>© 2017 </p>
            </div>
            <div class="col-md-6">
                <ul class="bottom_ul">
                    <li><a href="#">thebikeshop.com</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Faq's</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
