#feature-line{
    width: 150px;
    border-top: 2px solid black;
}
#carousel-generic{
    width: auto;
    height: 500px;
}

#featured-items {
    text-align: center;
}

#carousel-img{
    height: 500px;
}

#feature-img{
    width: 242px;
    height: 200px;
}

#caption-label{
    text-align: center;
}
#row-tag{
   width: 300px;
}

.row{
     width: 100%;
    margin-left: 0;
    margin-right:0;
}
.thumbnail{
    width: 242px;
    padding: 15px;
}
